<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Juang_juang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_persimmon"
        android:label="우리집 감나무"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_persimmon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.persimmon_tree_proj.PopupCalendar"></activity>
        <activity android:name="com.example.persimmon_tree_proj.profile_color" />
        <activity android:name="com.example.persimmon_tree_proj.profile_gam" />
        <activity android:name="com.example.persimmon_tree_proj.Make_FamilyProfile" />
        <activity android:name="com.example.persimmon_tree_proj.MakeProfile" />
        <activity android:name="com.example.persimmon_tree_proj.MypageActivity" />
        <activity android:name="com.example.persimmon_tree_proj.Answeractivity" />
        <activity android:name="com.example.persimmon_tree_proj.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.persimmon_tree_proj.log_inactivity" />
        <activity android:name="com.example.persimmon_tree_proj.familyactivity" />
        <activity android:name="com.example.persimmon_tree_proj.CodeActivity" />
        <activity android:name="com.example.persimmon_tree_proj.MainActivity" />
        <activity android:name="com.example.persimmon_tree_proj.Registeractivity" />
        <activity android:name="com.example.persimmon_tree_proj.Calendar_activity" />
    </application>

</manifest>