<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.persimmon_tree_proj">

    <uses-permission android:name="android.permission.INTERNET"/> <!--Internet 권한 선언-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registeractivity"></activity>
        <activity android:name=".Loginactivity" />
        <intent-filter><!--Loginactivity를 처음 화면으로 설정-->
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>